<div class=""list-container">
    <% professors.forEach(p => { %>
        <div>
            <p>
                <span class=""item-label">Name:</span>
                <%= p.name %>
            </p>
            <p>
                <span class=""item-label">Email:</span>
                <%= p.email %>
            </p>
        </div>
    <% }); %>
    </div>